<%- include('../partials/adheader') -%>
<nav>
  <ul class="menu-aside">
      <li class="menu-item active">
          <a class="menu-link" href="/admin/dashboard"> <i class="icon material-icons md-home"></i>
              <span class="text">ADMIN HOME</span>
          </a>
      </li>
      <li class="menu-item has-submenu ">
          <a class="menu-link"> <i class="icon material-icons md-shopping_bag"></i>
              <span class="text">Products</span>
          </a>
          <div class="submenu">
              <a href="/admin/addproduct">Add Product</a>
              <a href="/admin/productlist">Product List</a>


          </div>
          </li>
      <li class="menu-item ">
          <a class="menu-link" href="/admin/orders"> <i class="icon material-icons md-shopping_cart"></i>
              <span class="text">Orders</span>
          </a>

      </li>
      <li class="menu-item ">
          <a class="menu-link" href="/admin/banner"> <i class="icon material-icons md-shopping_cart"></i>
              <span class="text">Banner</span>
          </a>

      </li>
      <li class="menu-item ">
          <a class="menu-link" href="/admin/categorydisplay"> <i
                  class="icon material-icons md-shopping_cart"></i>
              <span class="text">Category</span>
          </a>

      </li>
  </li>
  <li class="menu-item has-submenu">
      <a class="menu-link" href="#" ><i class="icon material-icons md-local_offer"></i>
          <span class="text">Coupon</span>
      </a>
      <div class="submenu">
          <a href="/admin/couponList">Coupon List</a>
          <a href="/admin/addcoupon">Add Coupon</a>
      </div>
  </li>
      <li class="menu-item has-submenu">
          <a class="menu-link" href=""> <i class="icon material-icons md-store"></i>
              <span class="text">Users</span>
          </a>
          <div class="submenu">
              <a href="/admin/users">UserList</a>

          </div>

      </li>
      

      <li class="menu-item has-submenu">
          <a class="menu-link" href="#"> <i class="icon material-icons md-person"></i>
              <span class="text">Account</span>
          </a>
          <div class="submenu">
              <a href="/admin">User login</a>
              <a href="/admin/adregister">User registration</a>
              <a href="/admin/error">Error 404</a>
          </div>
      </li>
      <li class="menu-item has-submenu active">
          <a class="menu-link" href="page-products-list.html"> <i class="icon material-icons md-shopping_bag"></i>
              <span class="text">Offers</span>
          </a>
          <div class="submenu">
              <a href="/admin/offer" class="active">Product Offer</a>
              <!-- <a href="/admin/categoryOffer">Category Offer</a> -->
          </div>
      </li>



  </ul>
  <hr>
  <ul class="menu-aside">
      <li class="menu-item has-submenu">
          <a class="menu-link" href="#"> <i class="icon material-icons md-settings"></i>
              <span class="text">Settings</span>
          </a>
          <div class="submenu">
              <a href="page-settings-1.html">Setting sample 1</a>
              <a href="page-settings-2.html">Setting sample 2</a>
          </div>
      </li>

  </ul>
  <br>
  <br>
</nav>
 

</aside>
<main class="main-wrap">

<section class="content-main">
  <div class="content-header">
      <h2 class="content-title">Coupons List</h2>
      <div>                
        <a href="/admin/addCoupon"  type="submit" class="btn btn-primary btn-sm rounded">Add Coupon</a>
      </div>
  </div>
  <div class="card mb-4">
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-hover" id="usertable" >
          <thead>
            <tr>
              <th>Code</th>
              <th>Discount Price</th>
              <th>Min Purchase</th>
              <th>Expiry</th>
              <th>Edit</th>
              <th>Delete</th>
            </tr>
          </thead>
          <tbody>
            <% coupons.forEach((coupon) => { %>
              <tr>
                <td width="17%">
                  <h6  class="mb-0 title"> <%-coupon.couponCode %> </h6>
                </td>
                <td width="17%">
                  <h6 class="mb-0 title">₹ <%-coupon.couponAmount %></h6>
                </td>
                <td width="17%">
                  <h6 class="mb-0 title">₹ <%-coupon.minimumAmount %></h6>
                </td>
                <td width="17%">
                  <h6 class="mb-0 title"> <%=new Date(coupon.expireDate).toLocaleDateString()%></h6>
                </td>
                <td width="17%">
                  <div class="">
                    <a href="/admin/editcouponpage?id=<%= coupon._id %>" type="submit" class="btn btn-sm font-sm rounded btn-brand">
                      <i class="material-icons md-edit"></i> Edit
                    </a>
                  </div>
                </td>
                <td width="17%">
                  <div class="">
                      <a href="/admin/deletecoupon?id=<%= coupon._id %>"  class="btn btn-sm font-sm btn-light rounded"
                        onclick="return confirm('Do you want to delete   <%-coupon.couponCode %> ')">
                          <i class="material-icons md-delete_forever"></i> Delete
                      </a>
                     
                       
                  </div>
                </td>
              </tr>
            <% }) %>
          </tbody>
        </table> <!-- table-responsive.// -->
      </div>
    </div> <!-- card-body end// -->
  </div> <!-- card end// -->

 
</section>
<!-- content-main end// -->

<%- include('../partials/adfooter') -%>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.18/dist/sweetalert2.min.css">
		<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.18/dist/sweetalert2.min.js"></script>
