<%- include('../partials/adheader') -%>
<nav>
    <ul class="menu-aside">
        <li class="menu-item active">
            <a class="menu-link" href="/admin/dashboard"> <i class="icon material-icons md-home"></i>
                <span class="text">ADMIN HOME</span>
            </a>
        </li>
        <li class="menu-item has-submenu ">
            <a class="menu-link"> <i class="icon material-icons md-shopping_bag"></i>
                <span class="text">Products</span>
            </a>
            <div class="submenu">
                <a href="/admin/addproduct">Add Product</a>
                <a href="/admin/productlist">Product List</a>


            </div>
            </li>
        <li class="menu-item ">
            <a class="menu-link" href="/admin/orders"> <i class="icon material-icons md-shopping_cart"></i>
                <span class="text">Orders</span>
            </a>

        </li>
        <li class="menu-item ">
            <a class="menu-link" href="/admin/banner"> <i class="icon material-icons md-shopping_cart"></i>
                <span class="text">Banner</span>
            </a>

        </li>
        <li class="menu-item ">
            <a class="menu-link" href="/admin/categorydisplay"> <i
                    class="icon material-icons md-shopping_cart"></i>
                <span class="text">Category</span>
            </a>

        </li>
    </li>
    <li class="menu-item has-submenu">
        <a class="menu-link" href="#" ><i class="icon material-icons md-local_offer"></i>
            <span class="text">Coupon</span>
        </a>
        <div class="submenu">
            <a href="/admin/couponList">Coupon List</a>
            <a href="/admin/addcoupon">Add Coupon</a>
        </div>
    </li>
        <li class="menu-item has-submenu">
            <a class="menu-link" href=""> <i class="icon material-icons md-store"></i>
                <span class="text">Users</span>
            </a>
            <div class="submenu">
                <a href="/admin/users">UserList</a>

            </div>

        </li>
        

        <li class="menu-item has-submenu">
            <a class="menu-link" href="#"> <i class="icon material-icons md-person"></i>
                <span class="text">Account</span>
            </a>
            <div class="submenu">
                <a href="/admin">User login</a>
                <a href="/admin/adregister">User registration</a>
                <a href="/admin/error">Error 404</a>
            </div>
        </li>
        <li class="menu-item has-submenu active">
            <a class="menu-link" href="page-products-list.html"> <i class="icon material-icons md-shopping_bag"></i>
                <span class="text">Offers</span>
            </a>
            <div class="submenu">
                <a href="/admin/offer" class="active">Product Offer</a>
                <!-- <a href="/admin/categoryOffer">Category Offer</a> -->
            </div>
        </li>



    </ul>
    <hr>
    <ul class="menu-aside">
        <li class="menu-item has-submenu">
            <a class="menu-link" href="#"> <i class="icon material-icons md-settings"></i>
                <span class="text">Settings</span>
            </a>
            <div class="submenu">
                <a href="page-settings-1.html">Setting sample 1</a>
                <a href="page-settings-2.html">Setting sample 2</a>
            </div>
        </li>

    </ul>
    <br>
    <br>
</nav>
   
</aside>
<main class="main-wrap">
    <!-- <header class="main-header navbar"> -->
        <!-- <div class="col-search">
            <form class="searchform">
                <div class="input-group">
                    <input list="search_terms" type="text" class="form-control" placeholder="Search term">
                    <button class="btn btn-light bg" type="button"> <i class="material-icons md-search"></i></button>
                </div>
                <datalist id="search_terms">
                    <option value="Products">
                    <option value="New orders">
                    <option value="Apple iphone">
                    <option value="Ahmed Hassan">
                </datalist>
            </form>
        </div> -->
        <!-- <div class="col-nav">
            <button class="btn btn-icon btn-mobile me-auto" data-trigger="#offcanvas_aside"> <i class="material-icons md-apps"></i> </button>
            <ul class="nav">
               
                <li class="dropdown nav-item">
                    <a class="dropdown-toggle" data-bs-toggle="dropdown" href="#" id="dropdownAccount" aria-expanded="false"> <img class="img-xs rounded-circle" src="asset/imgs/people/avatar2.jpg" alt="User"></a>
                    <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownAccount">
                        <a class="dropdown-item" href="#"><i class="material-icons md-perm_identity"></i>Edit Profile</a>
                        <a class="dropdown-item" href="#"><i class="material-icons md-settings"></i>Account Settings</a>
                        <a class="dropdown-item" href="#"><i class="material-icons md-account_balance_wallet"></i>Wallet</a>
                        <a class="dropdown-item" href="#"><i class="material-icons md-receipt"></i>Billing</a>
                        <a class="dropdown-item" href="#"><i class="material-icons md-help_outline"></i>Help center</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item text-danger" href="#"><i class="material-icons md-exit_to_app"></i>Logout</a>
                    </div>
                </li>
            </ul>
        </div>
    </header> -->
    
<section class="content-main">
    
    <section class="content-main">
        <div class="row">
            <div class="col-9">
                <div class="content-header">
                    <h2 class="content-title">edit Coupon</h2>
                </div>
            </div>
            <!-- <button class="btn btn-md rounded font-sm hover-up"  type="submit" >Add</button> -->
            
            <div class="col-lg-6">
                <div class="card mb-4">
                    <div class="card-header">
                        <h4>Edit Coupon</h4>
                    </div>
                    <div class="card-body">
                        <form action="/admin/editCoupon"  method="POST"  >
                            <div class="mb-4">
                                <label for="product_name" class="form-label">Coupon code</label>
                                <input type="text" name="code" placeholder="Type here"  class="form-control"  value="<%=coupon.couponCode %>"     id="product_name">
                            </div>
                            <div class="row">
                                <div class="col-lg-4">
                                    <div class="mb-4">
                                        <label class="form-label">Discount Price</label>
                                        <div class="row gx-2">
                                            <input placeholder="₹" name="discountprice" type="text" value="<%=coupon.couponAmount %>" class="form-control">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="mb-4">
                                        <label class="form-label">Min Purchase</label>
                                        <input placeholder="₹" type="text" name="min_purchase"  value="<%=coupon.minimumAmount %>" class="form-control">
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="mb-4">
                                        <label class="form-label">Expiry</label>
                                        <input placeholder="" type="date" name="expiry" class="form-control" value="<%=coupon.expireDate %>">
                                    </div>
                                </div>
                                <div class="mb-4">
                                    <label class="form-label">Description</label>
                                    <textarea placeholder="Type here" name="coupondescription" class="form-control" rows="4"><%=coupon.couponDescription%></textarea>
                                </div>
                            </div>
                            <button class="btn btn-md rounded font-sm hover-up" type="submit">Add</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>


</section>
<!-- content-main end// -->
<%- include('../partials/adfooter') %>