<%-include("../partials/adheader.ejs")-%>
<nav>
    <ul class="menu-aside">
        <li class="menu-item ">
            <a class="menu-link" href="/admin/dashboard"> <i class="icon material-icons md-home"></i>
                <span class="text">ADMIN HOME</span>
            </a>
        </li>
        <li class="menu-item has-submenu ">
            <a class="menu-link"> <i class="icon material-icons md-shopping_bag"></i>
                <span class="text">Products</span>
            </a>
            <div class="submenu">
                <a href="/admin/addproduct">Add Product</a>
                <a href="/admin/productlist">Product List</a>


            </div>
            </li>
        <li class="menu-item  active">
            <a class="menu-link" href="/admin/orders"> <i class="icon material-icons md-shopping_cart"></i>
                <span class="text">Orders</span>
            </a>

        </li>
        <li class="menu-item ">
            <a class="menu-link" href="/admin/banner"> <i class="icon material-icons md-shopping_cart"></i>
                <span class="text">Banner</span>
            </a>

        </li>
        <li class="menu-item ">
            <a class="menu-link" href="/admin/categorydisplay"> <i
                    class="icon material-icons md-shopping_cart"></i>
                <span class="text">Category</span>
            </a>

        </li>
        <li class="menu-item has-submenu">
            <a class="menu-link" href="#" ><i class="icon material-icons md-local_offer"></i>
                <span class="text">Coupon</span>
            </a>
            <div class="submenu">
                <a href="/admin/couponList">Coupon List</a>
                <a href="/admin/addcoupon">Add Coupon</a>
            </div>
        </li>
        <li class="menu-item has-submenu">
            <a class="menu-link" href=""> <i class="icon material-icons md-store"></i>
                <span class="text">Users</span>
            </a>
            <div class="submenu">
                <a href="/admin/users">UserList</a>

            </div>

        </li>
       
        <li class="menu-item has-submenu">
            <a class="menu-link" href="#"> <i class="icon material-icons md-person"></i>
                <span class="text">Account</span>
            </a>
            <div class="submenu">
                <a href="/admin">User login</a>
                <a href="/admin/adregister">User registration</a>
                <a href="/admin/error">Error 404</a>
            </div>
        </li>
        <li class="menu-item has-submenu active">
            <a class="menu-link" href="page-products-list.html"> <i class="icon material-icons md-shopping_bag"></i>
                <span class="text">Offers</span>
            </a>
            <div class="submenu">
                <a href="/admin/productOffer" class="active">Product Offer</a>
                <a href="/admin/categoryOffer">Category Offer</a>
            </div>
        </li>



    </ul>
    <hr>
    <ul class="menu-aside">
        <li class="menu-item has-submenu">
            <a class="menu-link" href="#"> <i class="icon material-icons md-settings"></i>
                <span class="text">Settings</span>
            </a>
            <div class="submenu">
                <a href="page-settings-1.html">Setting sample 1</a>
                <a href="page-settings-2.html">Setting sample 2</a>
            </div>
        </li>

    </ul>
    <br>
    <br>
</nav>
   
</aside>
<main class="main-wrap">
    <header class="main-header navbar">
        <div class="col-search">
           
        </div>
       
                
                
                
                <li class="dropdown nav-item">
                    <a class="dropdown-toggle" data-bs-toggle="dropdown" href="#" id="dropdownAccount"
                        ></a>
                    <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownAccount">
                        <a class="dropdown-item" href="#"><i class="material-icons md-perm_identity"></i>Edit
                            Profile</a>
                        <a class="dropdown-item" href="#"><i class="material-icons md-settings"></i>Account
                            Settings</a>
                        <a class="dropdown-item" href="#"><i
                                class="material-icons md-account_balance_wallet"></i>Wallet</a>
                        <a class="dropdown-item" href="#"><i class="material-icons md-receipt"></i>Billing</a>
                        <a class="dropdown-item" href="#"><i class="material-icons md-help_outline"></i>Help
                            center</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item text-danger" href="/admin/logout"><i
                                class="material-icons md-exit_to_app"></i>Logout</a>
                    </div>
                </li>
            </ul>
        </div>
    </header>
    
<main class="main">
    
    <section class="content-main">
        <div class="content-header">
            <div>
                <h2 class="content-title card-title">Order List </h2>
                
            </div>
            <div>
                <input type="text" placeholder="Search order ID" class="form-control bg-white">
            </div>
        </div>
        <div class="card mb-4">
            <header class="card-header">
                <div class="row gx-3">
                    <div class="col-lg-4 col-md-6 me-auto">
                        <input type="text" placeholder="Search..." class="form-control">
                    </div>
                    <div class="col-lg-2 col-6 col-md-3">
                        <select class="form-select">
                            <option>Status</option>
                            <option>Active</option>
                            <option>Disabled</option>
                            <option>Show all</option>
                        </select>
                    </div>
                    <div class="col-lg-2 col-6 col-md-3">
                        <select class="form-select">
                            <option>Show 20</option>
                            <option>Show 30</option>
                            <option>Show 40</option>
                        </select>
                    </div>
                </div>
            </header> <!-- card-header end// -->
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>#ID</th>
                                <th scope="col">Name</th>
                                <th scope="col">Email</th>
                                <th scope="col">Total</th>
                                <th scope="col">Status</th>
                                <th scope="col">Date</th>
                                <th scope="col" class="text-end"> Action </th>
                            </tr>
                        </thead>
                        <% order.forEach(function(order) { %>
                        
                        <tbody>
                          
                            <tr>
                                <td><%- order._id.toString().slice(-4)%></td>
                                <td><b><%=order.userId.name %></b></td>
                                <td><span ><%=order.userId.email%></span></td>
                                <td><%=order.total%></td>
                                <td><span class="badge rounded-pill alert-warning"><%=order.status%></span></td>
                                <td><%=new Date(order.orderDate).toLocaleDateString()%></td>
                                <td class="text-end">
                                    <a href="/admin/orderdetails?id=<%=order._id%>" class="btn btn-md rounded font-sm">Detail</a>
                                    
                                </td>
                            </tr>
                           
                        </tbody>
                        <% }); %>
					
                    </table>
                </div> <!-- table-responsive //end -->
            </div> <!-- card-body end// -->
        </div> <!-- card end// -->
       
    </section>
    
</main>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.css" />
  
 <script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.js"></script>
 
 <script>
    $(document).ready(function() {
        $('.table-hover').DataTable();
      });
      
    </script>
